django
django-environ
django-crispy-forms
crispy-bootstrap5
django-redis
djangorestframework
django-cors-headers
django-stubs[compatible-mypy]
django-celery-beat

Pillow
argon2-cffi
whitenoise
redis
celery
flower
uvicorn[standard]
uvicorn-worker

djlint
pytest
watchfiles
psycopg2
